@font-face {
    font-family: 'MyWebFont';
    src:
    url('./css/Akrobat-Black.woff2') format('woff2'),
    url('./css/Akrobat-ExtraLight.woff2') format('woff2'),
    url('./css/Akrobat-Light.woff2') format('woff2'),
    url('./css/Akrobat-Regular.woff2') format('woff2'),
    url('./css/Akrobat-SemiBold.woff2') format('woff2'),
    url('./css/Made-Sunflower.woff2') format('woff2');
}
.under {
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: -1;
    height: auto;
    height: 600px;
}
.mid {
    position: absolute;
    left: 300px;
    top: 500px;
    z-index: -1;
    height: 500px;
}
.over {
    position: absolute;
    left: -10px;
    top: 600px;
    z-index: -1;
    height: 500px;
}
.m-over {
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 50vh;
}
.m-under {
    position: absolute;
    left: 15vh;
    top: 40vh;
    z-index: -1;
    width: 90vw;
}
.ch-over {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 50vh;
}
.ch-under {
    position: absolute;
    left: 15vh;
    top: 40vh;
    z-index: -1;
    width: 90vw;
}